include ../shared/other-top
include ../shared/common

div.d Just to let you know, #{firstName} #{lastName} has removed you from their Sunday story writers.
+br
div.d Some people prefer keeping Sunday just for one group of close family or friends so they probably didn't mean anything by it.
+br
div.d Let them know if you think they made a mistake.