include ../shared/story-top
include ../shared/common

div Hey,
div Sorry, we don't seem to have any information from you!
div To get started, copy and paste the italics below into your reply to this email.
div Then put in your own info instead of Barack’s, and write around five email addresses of people you’d like to send your stories to.
div We will send them an email saying that you want to send them stories, and explaining what Sunday is. It’s probably worth giving your people a heads up that you’re inviting them so they don’t think it’s just more spam.
div First name: Barack
div Last name: Obama
div Emails I want to send stories to:
div michelle@obama.com
div tinyhandeddonald@trump.com
div angela.merkel@europe.de
div (Write as many as you like).