include ../shared/other-top
include ../shared/common

div Hey,
+br
div Sorry, we looked in your email but couldn't find your first name, last name, or emails you'd like to send Sunday stories to.
+br
div If something's wrong and you want help, reply to this email and write '#{cmd.sundayHelp}' to talk to a real person.
+br
div If you'd still like to sign up to Sunday to write stories, copy the below italics. Then reply to this email, paste in the italics and change them to your own details.
+br
div We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves. We've put the email address for #{firstName} in there but you can take it out if you'd prefer.
+br
div.i First name: Barack
div.i Last name: Obama
+br
div.i Friends' emails
div.i #{email}
div.i michelle@obama.com
div.i malia@obama.com
div.i sasha@obama.com
+br
div.i (We recommend around 10 emails.)
+br
div Yours,
div Sunday