p Hey,
p Unfortunately your invite to #{email} has been politely turned down.
p It could just be that they have their hands full with living life, or maybe prefer .
p Best,
p Louis
p Founder of Sunday