include ../shared/story-top
include ../shared/common

div Hey,
div Unfortunately your invite to #{email} has been politely turned down.
div It could just be that they have their hands full with living life, or maybe prefer .
div Founder of Sunday
div Best,
div Louis