mixin br
  div.d
    br

mixin whatisastory
  div.d.u What is a story?
  +br
  div.d A story could be anything. A hilarious anecdote, reflections on a tough week, a piece of fiction, cherished memories, a beautiful experience you had recently, or quite simply whatever you have on your mind. Sunday is for people who want to share words and pictures that are deeper and more meaningful than the usual online fare.
  +br

mixin howdoesitwork
  div.d.u How does it work?
  +br
  div.d You write a story simply by sending an email to write@sundaystori.es - all the text in the email will be taken as your story (apart from your signature, which Sunday will ignore), as well as any picture you attach that’s at least 660 pixels wide. You don’t have to write a story every week. Only write when you feel like it - you’ll still receive your friends’ stories on Sunday.
  +br
  div.d Sunday all happens over email for now, but we are working on an app for iOS and Android.
  +br

mixin whydidyousetupsunday
  div.d.u Why did you set up Sunday?
  +br
  div.d We set up Sunday for two reasons.
  +br
  div.d First, because we noticed that even in the closest friendships, where you see and message each other the whole time, a lot of important feelings, experiences, desires, plans, creative projects, or reflections don’t get shared.
  +br
  div.d Second, because we don’t want to spend every waking minute scrolling through infinite news feeds, hooked on addictive social media apps, constantly distracted by other people’s lives. Instead, we want people to read better content, less often, and only from the people they actually care about.
  +br

mixin howmuchdoessundaycost
  div.d.u How much does Sunday cost?
  +br
  div.d Sunday is free for now, but will eventually cost £1 a month for signed up users. We promise we'll never advertise to you or sell your data, but we do need a small amount of money coming in to pay our costs.
  +br