doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    link(rel="stylesheet", href="/app.css", data-inline)
  //- body(leftmargin='0', topmargin='0', rightmargin='0', bgcolor='#ffffff', style='width:100%;')