doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(content='yes', name='apple-touch-fullscreen')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sunday
    style(type='text/css').
      /* standard resets */
      div, p, a, li, td {-webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
      body {margin: 0; padding: 0;}
      table td {border-collapse: collapse;}
      .ExternalClass {width: 100%;}
      .ExternalClass * {line-height: 110%}
      img {-ms-interpolation-mode: bicubic;}
      * a{color: inherit; text-decoration: none;}
      /* control text changed to links by phones */
      @media only screen {
      a[href^="tel"], a[href^="sms"]{color: inherit; text-decoration: none;}}
      /* responsive rules */
      @media screen and (max-device: 640px), screen and (max-width: 640px) {
      *[class=nomob] {display: none !important; width: 0px !important; height: 0px !important;}
      *[class=wrapto100pc] {width: 100% !important; height: auto !important;}
      *[class=wrapto40px] {width: 40px !important; height: auto !important;}
      *[class=sidepadding] {padding-left:10px !important;padding-right:10px !important;}
      *[class=centertext] {text-align: center !important;}
      *[class=heightauto] {height: auto !important;}
      *[class=resizebg] {height: 190px!important;}
      *[class=menu-border] {border-bottom:1px solid #ffffff !important; border-right:none !important; padding:15px 0 15px 0 !important}
      }
      .wrapto600px {  width: 600px !important;
      }
    link(rel="stylesheet", href="/app.css", data-inline)
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
  body(leftmargin='0', topmargin='0', rightmargin='0', bgcolor='#ffffff', style='width:100%;')