//- Text area
mixin textArea(index, name, day, text)
  div.d.u=name
  div.d.i=day
  +br
  each val in text
    if (val === '')
      +br
    else
      div.d=val

//- Image
mixin image(url)
  table(width='100%', border='0', cellpadding='0', cellspacing='0')
    tr
      td(align='left', valign='top')
        table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
          tr
            td(align='center', valign='top')
              table(width='100%', border='0', cellpadding='0', cellspacing='0')
                tr
                  td(align='center', valign='top')
                    img.wrapto100pc(src=url, width='660', alt='', style='display:block')