p Hey,
p Thanks for getting in touch.
p Social media is broken. Bla bla bla.
p Looks like you’re up for writing Sunday stories – great!
p To get started, copy and paste the italics below into your reply to this email.
p Then replace with your own info, and write around five email addresses of people you’d like to send your stories to.
p We will send them an email saying that you want to send them stories, and explaining what Sunday is. It’s probably worth giving your people a heads up that you’re inviting them so they don’t think it’s just more spam.
p
  i First name: Story
    br
    | Last name: Smith
    br
    | Emails I want to send stories to:
    br
    | bestfriend@wholivesabroad.fr
    br
    | mygrandma@aol.com
    br
    | family@family.com
    br
    | (Write as many as you like). WE RECOMMEND TO PUT PERHAPS 10 .
p not everyone will always want to write
p Best,
p Louis
p Founder of Sunday