include ../shared/story-top
include ../shared/common

div Hey! Thanks for your email.
+br
div Sunday is a weekly paper made up of stories written by the people you care most about.
+br 
div Each week, you get to write one story, which you can do at any time. On Sunday, you receive a single email with all of your friends' stories, as do they. And that's about it.
+br
+whatisastory
+howdoesitwork
div.u How do I get started?
+br
div Copy the below italics. Then reply to this email, paste in the italics and change them to your own details.
+br
div We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves.
+br
div.i First name: Barack
div.i Last name: Obama
+br
div.i Friends' emails
div.i michelle@obama.com
//- div.i YOUR GRANDMOTHER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
div.i malia@obama.com
div.i sasha@obama.com
+br
div.i (We recommend around 10 emails.)
+br
div That's about all you need to know, although we've included a couple more bits of information below in case helpful for you.
+br
div We hope you enjoy writing and reading stories, and that Sunday adds something to your life!
+br
div Yours,
div Sunday
+br
div --
+br
+whydidyousetupsunday
+howmuchdoessundaycost