include ../shared/other-top
include ../shared/common

div.d Hey,
+br
div.d Thanks for your email.
+br
div.d Sunday is a weekly paper made up of stories written by the people you care most about.
+br 
div.d Each week, you get to write one story, which you can do at any time. On Sunday, you receive a single email with all of your friends' stories, as do they. And that's about it.
+br
+whatisastory
+howdoesitwork
div.d.u How do I get started?
+br
div.d Copy the below italics. Then reply to this email, paste in the italics and change them to your own details.
+br
div.d We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves.
+br
div.d.i.u First name: 
div.d.i Harry
div.d.i.u Last name:
div.d.i Potter
+br
div.d.i.u Friends' emails
div.d.i ginny@potter.com
div.d.i ron@dumbledoresarmy.hw
div.d.i hermione@mofm.co.uk
div.d.i neville.longbottom@leakycauldron.co
+br
div.d.i Five to ten emails is a good amount (you can always add more later). By the way, Sunday is great for older relatives who aren't on social media much.
+br
div.d That's about all you need to know, although we've included a couple more bits of information below in case helpful for you.
+br
div.d We hope you enjoy writing and reading stories, and that Sunday adds something to your life!
+br
div.d Yours,
div.d Sunday
+br
div.d --
+br
+whydidyousetupsunday
+howmuchdoessundaycost