include top
p Hi #{firstName},
p This is your story. It's going to be sent to these emails:::::  
p 

//- // FIXME: handle storyImgFileName false

    readersHumanized,
            confirmMsg,

p This is your story. It looks like you currently have no one signed up to receive your stories, so at the moment no one will see it 
p if you want to add some people, do 'ADDREADER louis.barcka@' or REMOVEREADER
p If it doesn't show their name that means they haven't signed up to be a writer, so you won't see their stories.

//- Text area
mixin textArea(name, time, text)
  table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
    tr
      td(align='left', valign='top')
        table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
          tr
            td(align='center', valign='top')
              table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
                tr
                  td(align='center', valign='top', style='padding:0px 10px 10px 10px;')
                    table.wrapto100pc(width='600', border='0', cellspacing='0', cellpadding='0')
                      tr
                        td(align='left', valign='top', style='font-family: sans-serif;')
                          =text

//- Image
mixin image(url)
  table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
    tr
      td(align='left', valign='top')
        table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
          tr
            td(align='center', valign='top')
              table(width='100%', border='0', cellpadding='0', cellspacing='0')
                tr
                  td(align='center', valign='top')
                    a(href='')
                      img.wrapto100pc(src=url, width='660', alt='', style='display:block')

each val in stories
  +textArea(val[0], val[1], val[2])
  if val[3]
    +image(val[3])
    b something something