include ../shared/story-top
include ../shared/common
include ../shared/story-content

div Hi #{firstName},
+br
div Your story for this Sunday is below.
+br
div #{confirmMsg}
+br
if readersHumanized
  div It's going to be sent to #{readersHumanized}.
else
  div It looks like you currently have no one signed up to receive your stories, so at the moment no one will see it 
+br            
div (If only their email, and not their name, is showing, that means they haven't yet signed up to be a writer, so you won't see their stories. Feel free to give them a nudge, if it won't be annoying.)
+br
div You can easily add a new reader by replying with do 'ADDREADER newreader@theiremail.com', or you can do 'REMOVEREADER newreader@theiremail.com'. And you can include these as much as you like.
+br
each val in stories
  +textArea(val[0], val[1], val[2])
  +br
  if val[3]
    +image(val[3])
    //- FIXME: this should be moved into story-content
div Not happy? Here are some tips on making your story look nicer.
+br
div 1. write asdfasdfasdfasdfasdf asdf okasdfpoksadd fpoksdf 