p Hey,
p Just to let you know, #{firstName} #{lastName} (#{email}) would like to send you stories on Sunday.
p If that's cool with you, don't do anything.
p If you'd rather not receive their stories, just reply saying 'DELETE #{email}' and we'll take care of it.
p Thanks,
p Louis