include ../shared/story-top
include ../shared/common

div Hey,
div Just to let you know, #{firstName} #{lastName} (#{email}) would like to send you stories on Sunday.
div If that's cool with you, don't do anything.
div If you'd rather not receive their stories, just reply saying 'DELETE #{email}' and we'll take care of it.
div If you want to start writing Sunday, reply with details. By the way, you will NOT send to XXXX by default unless you want to, in which case add in here.
div Thanks,
div Louis