include ../shared/story-top
include ../shared/common
include ../shared/story-content

if firstName
  div.d Hey #{firstName}, happy Sunday! Here are your stories.
else
  div.d Happy Sunday! Here are your stories.
+br
each val, index in stories
  +textArea(index + 1, val.name, val.day, val.text)
  +br
  if val.imageUrl
    +image(val.imageUrl)
    +br