include ../shared/story-top
include ../shared/common
include ../shared/story-content

if firstName
  div Hey 

each val in stories
  +textArea(val.name, val.day, val.text)
  +br
  if val.imageUrl
    +image(val.imageUrl)