include ../shared/story-top
include ../shared/common
include ../shared/story-content

if firstName
  div.d Hey #{firstName},
  +br
  if (stories.length === 1)
    div.d You've received one story this week. To receive more, tell your friends to sign up.
  else
    div.d Here are your Sunday stories.
  +br
  div.d You can write a story for next Sunday simply by replying to this email with your story. The deadline for Sunday stories is always Sunday noon, UK time.
else
  div.d Hey,
  +br
  if (stories.length === 1)
    div.d You've received one story this week. To receive more, tell your friends to sign up.
  else
    div.d Here are your Sunday stories.
  +br
  div.d You can write a story for next Sunday by following the instructions at the bottom of this email.
+br
each val, index in stories
  +textArea(index + 1, val.name, val.day, val.text)
  +br
  if val.imageUrl
    +image(val.imageUrl)
    +br
if !firstName
  div.d If you'd like to sign up fully to Sunday to write stories for your friends, copy the italics below. Then reply to this email, paste in the italics and change them to your own details.
  +br
  div.d We'll get in touch with every email address that you give us, inviting your friends to read your Sunday stories, and to write stories themselves. We've put the email address for #{firstName} in there but you can take it out if you'd prefer.
  +br
  div.d.i.u First name: 
  div.d.i Harry
  div.d.i.u Last name:
  div.d.i Potter
  +br
  div.d.i.u Friends' emails:
  div.d.i #{email}
  div.d.i ginny@potter.com
  div.d.i ron@dumbledoresarmy.co.uk
  div.d.i hermione@mofm.co.uk
  div.d.i neville.longbottom@leakycauldron.co
  +br