include ../shared/story-top
include ../shared/common

div Hey,
div Just to let you know, #{firstName} #{lastName} has removed you from reading their Sunday stories.
div Don't take it personally - maybe they just prefer to keep their Sunday for close family, or close friends.