include ../shared/story-top
include ../shared/common

div Hey #{firstName},
+br
div Thanks for the info! You’re fully signed up to Sunday now.
+br
div To write your first story, send an email to write@sundaystori.es (or just reply to this one).
+br
div All the text in the email will be taken as your story (apart from your signature, which Sunday will ignore), as well as any picture you attach that’s at least 660 pixels wide.
+br
div By the way, at some point you might want give the people you invited a little nudge to sign up fully, so that they won’t just be readers of your stories, but maybe write stories too.
+br
div Here are the emails we added as your readers: #{addReaderEmailsHumanized}.
+br
div Feel free to change these readers at any time by emailing in like this:
+br
div #{cmd.addReader} example@addme.com
div #{cmd.removeReader} anotherexample@removeme.com
+br
div Yours,
div Sunday