include ../shared/story-top
include ../shared/common

div Hey,
+br
div You're fully signed up
+br
div - added #{addReaderEmailsHumanized} to your readers, and sent them an email checking that's OK.
+br
div don't forget worth giving them a nudge to follow through
+br
div now, to write a story is very simple. just do what we say