    // red_intro CHANGE ALL THE NAMES PLEASE BECAUSE IT'S FINALLY YOURS AND IT MATTERS. COONSIDER OFF WHITE BACKGROUND. CONSIDER MEDIUM-STYLE TYPOGRAPHY ADJUSTMENTS
    table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
      tr
        td(align='center', valign='top')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='center', valign='top')
                table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
                  tr
                    td(align='center', valign='top', style='padding:0px 10px 10px 10px;')
                      table.wrapto100pc(width='600', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(align='left', valign='top', style='padding:10px 0px 0px 0px; color:#000000; font-size:16px; line-height:25px; font-family: courier, monospace, sans-serif;')
                            | 29-AUG-2015: LOUIS BARCLAY
                            br
                            | --------------------------

    // HERO IMAGE NOT BACKGROUND
    table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
      tr
        td(align='center', valign='top')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='center', valign='top')
                table(width='100%', border='0', cellpadding='0', cellspacing='0')
                  tr
                    td(align='center', valign='top')
                      a(href='')
                        img.wrapto100pc(src='https://c1.staticflickr.com/6/5255/5464083191_c69a182b80_b.jpg', width='660', alt='', style='display:block')

    // red_intro CHANGE ALL THE NAMES PLEASE BECAUSE IT'S FINALLY YOURS AND IT MATTERS. COONSIDER OFF WHITE BACKGROUND. CONSIDER MEDIUM-STYLE TYPOGRAPHY ADJUSTMENTS
    table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
      tr
        td(align='center', valign='top')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='center', valign='top')
                table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
                  tr
                    td(align='center', valign='top', style='padding:0px 10px 10px 10px;')
                      table.wrapto100pc(width='600', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(align='left', valign='top', style='padding:30px 0px 30px 0px; color:#000000; font-size:16px; line-height:25px; font-family: courier, monospace, sans-serif;')
                            | YOU HAVE TO DIG a little deeper to find colour in Ramallah, Palestine's intense main city. Here's some wall graffiti that Tom, Natasha and I found after walking around the frenetic centre for an hour or so. We found a (slightly dingy) cafe and watched football. Great tourists.
                            br

    // red_intro CHANGE ALL THE NAMES PLEASE BECAUSE IT'S FINALLY YOURS AND IT MATTERS. COONSIDER OFF WHITE BACKGROUND. CONSIDER MEDIUM-STYLE TYPOGRAPHY ADJUSTMENTS
    table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
      tr
        td(align='center', valign='top')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='center', valign='top')
                table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
                  tr
                    td(align='center', valign='top', style='padding:0px 10px 10px 10px;')
                      table.wrapto100pc(width='600', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(align='left', valign='top', style='padding:10px 0px 0px 0px; color:#000000; font-size:16px; line-height:25px; font-family: courier, monospace, sans-serif;')
                            | TUESDAY: JOSEPHINE MCDONGLE
                            br
                            | --------------------------

    // HERO IMAGE NOT BACKGROUND
    table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
      tr
        td(align='center', valign='top')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='center', valign='top')
                table(width='100%', border='0', cellpadding='0', cellspacing='0')
                  tr
                    td(align='center', valign='top')
                      a(href='')
                        img.wrapto100pc(src='https://i.pinimg.com/736x/72/5a/be/725abe5befa0cb6d9e5ee5390d69b028--dogy-style-ticks.jpg', width='660', alt='', style='display:block')

    // red_intro CHANGE ALL THE NAMES PLEASE BECAUSE IT'S FINALLY YOURS AND IT MATTERS. COONSIDER OFF WHITE BACKGROUND. CONSIDER MEDIUM-STYLE TYPOGRAPHY ADJUSTMENTS
    table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
      tr
        td(align='center', valign='top')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='center', valign='top')
                table(width='100%', border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
                  tr
                    td(align='center', valign='top', style='padding:0px 10px 10px 10px;')
                      table.wrapto100pc(width='600', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(align='left', valign='top', style='padding:30px 0px 30px 0px; color:#000000; font-size:16px; line-height:25px; font-family: courier, monospace, sans-serif;')
                            | JESSIE WAS IN a particularly inquisitive mood this week. She spent hours nosing around the landury cupboard, and we saw the fruits of her labour when we switched on the kitchen lights and found three bras, two sweaters and a towel all on the floor, garnished with a packet of biscuits that she somehow managed to get off the counter! It was hard to get angry with her...this is how she looked at us when we tried to reproach her.
                            br

    // FOOTER UK
    table(width='100%', border='0', cellpadding='0', cellspacing='0')
      tr
        td(align='center', valign='top', bgcolor='#484849')
          table.wrapto100pc(width='660', border='0', cellspacing='0', cellpadding='0')
            tr
              td(align='left', valign='top', style='padding:0px 10px 15px 10px;')
                table(width='100%', border='0', cellpadding='0', cellspacing='0')
                  tr
                    td(bgcolor='#585858', style='font-size:1px; line-height:1px;')
                      img(src='https://cdn.shopify.com/s/files/1/0989/6020/files/shadow_240b535f-0f9b-4323-98b0-a613428a4862.png?10882182015754453271', width='1', height='1', alt='', style='display:block')
                  tr
                    td(align='left', style='padding:10px 0px 10px 0px;')
                      table(border='0', cellpadding='0', cellspacing='0')
                        tr
                          td(align='left', valign='middle', style="color:#ffffff; font-size:12px; line-height:18px; font-family:'Avenir-Medium', arial, sans-serif; padding:0px 10px 0px 0px;") Follow us on Instagram or Facebook for furniture geekery
                          td(align='center', valign='middle', style='font-size:1px; line-height:1px; padding:0px 10px 0px 0px;')
                            a(href='http://www.instagram.com/shufflepad')
                              img(border='0', src='https://cdn.shopify.com/s/files/1/0989/6020/files/social-instagram_a5d6e15d-06a7-4fe4-bcf2-e29ea07e4eb5.png?1050201149835270905', width='30', height='30', alt='', style='display:block')
                          td(align='center', valign='middle', style='font-size:1px; line-height:1px;')
                            a(href='http://www.facebook.com/shufflepad')
                              img(border='0', src='https://cdn.shopify.com/s/files/1/0989/6020/files/social-facebook_5672a74f-3efb-4f9d-8d7f-219c17a8216d.png?1050201149835270905', width='30', height='30', alt='', style='display:block')
                  tr
                    td(bgcolor='#585858', style='font-size:1px; line-height:1px;')
                      img(src='https://cdn.shopify.com/s/files/1/0989/6020/files/shadow_240b535f-0f9b-4323-98b0-a613428a4862.png?10882182015754453271', width='1', height='1', alt='', style='display:block')
                  tr
                    td(align='left', valign='middle', style="color:#ffffff; font-size:12px; line-height:18px; font-family:'Avenir-Medium', arial, sans-serif; padding:10px 0px 0px 0px;")
                      | Prefer not to hear from us? Good luck selling that second hand ottoman. Only kidding. 
                      a(href='*|UNSUB|*', style='color:#ffffff; text-decoration:underline;') Unsubscribe here.
